@model AspNetCoreWithIdentity.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login to Application</h2>
<form class="form-group" method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="col-md-10">
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="col-md-10">
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="col-md-10">
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div class="col-md-10">
        <p>&nbsp;</p>
    </div>
    <div class="col-md-10">
        <input class="btn btn-success" type="submit" value="Login" />
    </div>
</form>
