@model AspNetCoreWithIdentity.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"]</h2>
<h4>Reset your password.</h4>
<form method="post" asp-controller="Account" asp-action="ResetPassword">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" name="Token" value="@Model.Token" />
    <div class="col-md-10">
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="col-md-10">
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="col-md-10">
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div class="col-md-10">
        <p>&nbsp;</p>
    </div>
    <div class="col-md-3">
        <input class="btn btn-success" type="submit" value="Reset" />
    </div>
</form>
