@{
    ViewData["Title"] = "Reset password confirmation.";
}

<h2>@ViewData["Title"]</h2>

<div>
    <p>Your password has been reset. Please</p>
    <a href="@Url.Action("Login", "Account")">Click here to Log in</a>
</div>
